body {
    background: #eee url(../img/8.jpg) repeat repeat;
}

header {
    margin-bottom: 45px;
}

ul.icons {
  list-style-type: none;
  text-indent: -0.2em;
  margin: 0 0 10px 10px;
}


ul.icons > li {
    float: left;
    margin-right: 20px;
}

ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */

  vertical-align: initial;
}